@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: #091B32;
  --color-secondary: #192B40;
  --color-neutral: #30435B;

  --font-fallback:
    'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  --font-primary: 'Lato';
  --font-heading: "Merriweather";
}

@layer base {
  /* Scroll */
  * {
    scrollbar-color: var(--color-primary) var(--color-gray-50);
    scrollbar-width: thin;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial);
  size-adjust: 112%;
  ascent-override: 74%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/fonts/Cocogoose-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: var(--font-primary), var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
